@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "sans-serif";
  --font-advent-pro: "Advent Pro", "sans-serif";
  --font-open-sans: "Open Sans", "sans-serif";
}
.header-bg{
  background-image:url("./assets/background.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center, center;
}
.portfolio-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .portfolio-bg {
    background-image: url('./assets/protfolio-back.png');
  }
}

@media (min-width: 1024px) {
  .portfolio-bg {
    background-image: url('./assets/protfolio-back-2.png');
  }
}
